<div id="banner">    
    <img id="bannerImg" src="/img/homePage/promoBanner.png" alt="Promotinal Banner" >
</div>
<div id="categories">
    <h2>
        Categories
    </h2>
    <div id="catDiv">
        {{#each catDB}}
            <div id="catElement">
                <h3>{{this.title}}</h3>
                <img src="{{this.image}}" alt="{{this.title}}">
            </div>
        {{/each}}
    </div>
</div>
<div id="bestSeller">
    <h2>
        Best Sellers
    </h2>
    <div id="bestDiv">
        {{#each bestDB}}
            <div id="bestElement">
                <img src="{{this.image}}" alt="{{this.name}}">
            </div>
        {{/each}}
    </div>
</div>