<div class="mainReg">
    <img src="/img/amazon-logo.png" alt="Amazon logo">
    <div class="formDiv">
        <h1>Create account</h1>
        <form action="/registration" method="POST">
            
            <br>
            <label for="custName" class="formLabel">Your Name</label>
            <input type="text" name="custName" id="custName" class="formInput" value= {{formValues.name}}>
            {{#if nameError}}
                <p id="errorWarning">{{nameError}}</p>
            {{/if}}

            <label for="email" class="formLabel">Email</label>
            <input type="text" name="email" id="email" class="formInput" value= {{formValues.email}}>
            {{#if emailError}}
                <p id="errorWarning">{{emailError}}</p>
            {{/if}}

            <label for="password" class="formLabel">Password</label>
            <input type="password" name="password" id="password" class="formInput" value= {{formValues.password}}>
            <p class="formP">Passwords must contain at least 6 characters.</p class="formP">
            {{#if passError}}
                <p id="errorWarning">{{passError}}</p>
            {{/if}}

            <label for="password2" class="formLabel">Password again</label>
            <input type="password" name="password2" id="password2" class="formInput" value= {{formValues.password2}}>
            {{#if pass2Error}}
                <p id="errorWarning">{{pass2Error}}</p>
            {{/if}}

            <input type="submit" value="Create your Amazon account" class="subButton">
        </form>
        <div class="formTerms">
            <p class="formP">By creating an account, you agree to Amazon's</p>
            <p class="formP">Conditions of Use and Privacy Notice.</p class="formP">
        </div>
        <div class="formAlt">
            <p>Already have an account? <a href="/login">Sign in ></a></p>
        </div>
    </div>
</div>