<div id="banner">   
    <div id="bannerImg"></div> 
</div>
<div id="categories">
    <h2>
        Categories
    </h2>
    <div id="catDiv">
        {{#each catDB}}
            <div id="catElement">
                <h3>{{this.title}}</h3>
                <a href="/products"><img src="{{this.image}}" alt="{{this.title}}"></a>
            </div>
        {{/each}}
    </div>
</div>
<div id="bestSeller">
    <h2>
        Best Sellers
    </h2>
    <div id="bestDiv">
        {{#each bestDB}}
            <div id="bestElement">
                <a href="/products/prodDetails/0/{{this._id}}"><img src="{{this.image}}" alt="{{this.name}}"></a>
            </div>
        {{/each}}
    </div>
</div>