<div class="mainReg">
    <img src="/img/amazon-logo.png" alt="Amazon logo">
    <div class="formDiv">
            {{#if empty}}
                <h1 id="confH1">Your list is empty!</h1>
                <div id="confMessage">
                    {{#if clerk}}
                        <a href="/products/addProducts" class="subButton">Add a new product</a>
                        {{else}}
                        <a href="/products" class="subButton">Start shopping right now!</a>
                    {{/if}}
                    <br><br>
                    <p id="confMessage">Thank you for choosing Amazon!</p>
                </div>
            {{else}}
                {{#if clerk}}
                    <h1 id="confH1">Your list of recently added products!</h1>
                {{else}}
                    <h1 id="confH1">Your Shopping Cart!</h1>
                {{/if}}
                <form action="/order" method="POST">
                    {{#each prodList}}
                        <div id="prodElement">
                            <a id="prodName" href="/products/prodDetails/0/{{this._id}}"><img src="{{this.image}}" alt="{{this.name}}"></a>
                            <a id="prodName" href="/products/prodDetails/0/{{this._id}}">{{this.name}}</a><br><br>
                            <a id="prodPrice"  href="/products/prodDetails/0/{{this._id}}">${{this.price}}</a>
                            {{#if normalUser}}<a id="prodPrice"  href="/products/prodDetails/0/{{this._id}}">Itens in cart: {{this.quantity}}</a>{{/if}}
                        </div>
                    {{/each}}
                    {{#if normalUser}}
                        <br>
                        <p id="prodPrice">Total for you order: ${{totalPrice}}</p>
                        <br>
                        <input type="submit" value="Place your order" class="subButton">
                    {{/if}}
                </form>
            {{/if}}
    </div>
</div>