<div id="productsPage">
    <div id="prodCat">
        <h3>Categories</h3><br>
        <p>Electronics</p><br>
        <p>Cell Phones</p><br>
        <p>Tools</p><br>
        <p>Nutrition</p><br>
    </div>
    <div id="prodDiv">
        {{#each prodDB}}
            <div id="prodElement">
                <a id="prodName" href="/products/prodDetails/{{this._id}}"></a><img src="{{this.image}}" alt="{{this.name}}">
                <a id="prodName" href="/products/prodDetails/{{this._id}}">{{this.name}}</a><br><br>
                <a id="prodPrice"  href="/products/prodDetails/{{this._id}}">${{this.price}}</a>
            </div>
        {{/each}}
    </div>

</div>