<div id="product">
    <a href="/products/editProducts/{{_id}}"><img src="{{image}}" alt="{{name}}"></a>
    <div id="prodDetail">
        <a id="prodName">{{name}}</a><br><br>
        <p id="prodPrice">Price: ${{price}}</p><br><br>
        <p id="prodPrice">Quantity: {{quantity}}</p><br><br>
        <p id="productDesc">{{description}}</p><br><br>
        <a href="/"><input type="button" value="Add to cart" class="subButton"></a><br><br>
        <a href="/products/editProducts/{{_id}}"><input type="button" value="Edit product details" class="subButton"></a>
    </div>
</div>