<div id="product">
    <img src="{{image}}" alt="{{name}}">
    <div id="prodDetail">
        <a id="prodName">{{name}}</a><br><br>
        <p id="prodPrice">Price: ${{price}}</p><br><br>
        <p id="prodPrice">Quantity: {{quantity}}</p><br><br>
        <p id="productDesc">{{description}}</p><br><br>
        {{#if clerk}}
            <a href="/products/editProducts/{{_id}}"><input type="button" value="Edit product details" class="subButton"></a>
        {{else}}
            {{#if normalUser}}
                <a href="/products/prodDetails/1/{{_id}}"><input type="button" value="Add to cart" class="subButton"></a>
            {{else}}
                <a href="/login"><input type="button" value="Login to buy this product" class="subButton"></a>
            {{/if}}
        {{/if}}
        {{#if added}}
            <p id="errorWarning">{{cartQty}} Product(s) added to your Shopping Cart</p>
        {{/if}}
    </div>
</div>